.watchlist-details {
  display: flex;
}

.watchlist-detail-info {
  padding: 30px;
  text-align: center;
}

.detail-text {
  font-size: 25px;
}

.remove-btn {
  margin-top: 35px;
  width: 250px;
}

.side-image {
  height: 100%;
}

textarea {
  font-size: 1.4rem;
  height: 100px;
  width: 500px;
}
