.dictionary {
  padding: 10px 40px;
}
.title {
  font-size: 72px;
  text-align: center;
}
li {
  font-size: 30px;
  margin: 20px
}
strong {
  color: white;
}

.category {
  font-size: 38px;
  text-shadow: 7px 4px 5px black;
}