.snippet-image {
  border: solid 1px;
  box-shadow: 5px 10px 5px gold;
  color: gold;
  height: 400px;
  margin: 5px 12px;
  padding: 7px;
  &:hover {
    box-shadow: 5px 10px 5px rgb(238, 139, 27);
  }
}

.snippet-title {
  background-color: black;
  color: gold;
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}