.app {
  color: gold;
}

.background-photo {
  position: fixed;
  filter: brightness(20%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

header {
  background-color: rgb(37, 37, 35);
  padding: 17px;
  z-index: 1;
}

button {
  height: 50px;
  width: 130px;
}
