.navbar {
  display: flex;
  justify-content: space-around;
  margin: 35px;
}

.tab {
  background-color: black;
  box-shadow: 3px 5px 3px gold;
  color: gold;
  font-size: 33px;
  height: 70px;
  width: 315px;
  text-align: center;
  text-decoration: none;
  &:hover {
    box-shadow: 3px 5px 3px white;
    color: white;
    transition: .3s;
  }
}

.selected {
  background-color: gold;
  color: black;
  box-shadow: 3px 5px 3px white;
}

@media only screen and (max-width: 600px) {
  .tab {
    font-size: 18px;
    width: 90px;
  }

  .navbar {
    margin: 5px;
  }
}
